<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" class="__meteor-css__" href="/merged-stylesheets.css">
<title>Meteor Mogul -- Build apps with Meteor, VueJS and Vuetify</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet"
        href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700'>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name = "keywords" content = "Meteor, VueJS, Vuetify, progressive web application, Node.js, JavaScript, full-stack framework, Material Design" />
  <meta name = "description" content = "Meteor Mogul helps you build progressive web applications with Meteor, VueJS and Vuetify." />

<script src="/packages/es5-shim/es5-shim-sham.js"></script>
</head>
<body><script type="text/x-template" id="mm-content-bazaar-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Bazaar"></mm-content-heading>
          <v-card-text>
            <p>Bazaar text</span></p>
          </v-card-text>
          <v-card-actions>Home | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-bestiary-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Bestiary"></mm-content-heading>
          <v-card-text>
            <p>Bestiary text</span></p>
          </v-card-text>
          <v-card-actions>Home | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-formulary-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Formulary"></mm-content-heading>
          <v-card-text>
            <p>Formulary text</span></p>
          </v-card-text>
          <v-card-actions>Home | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-forum-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Forum"></mm-content-heading>
          <v-card-text>
            <p>Forum text</span></p>
          </v-card-text>
          <v-card-actions>Home | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-heading-template">
    <v-card-media
      src="/img/debbie-frith-564432-unsplash.jpg"
      height="96px">
      <v-container fill-height fluid>
        <v-layout style="color: white; background: rgba(0,0,0,0.40)">
          <v-flex xs12 align-end flexbox
            px-2>
            <h1>{{ contentTitle }}</h1>
          </v-flex>
          <v-flex xs12 align-end flexbox
            class="text-xs-right" px-2>
            <div style="font-size: 120%; font-weight: bold;">Meteor Mogul</div>
            <div>Alta release</div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-media>
  </script>
<script type="text/x-template" id="mm-content-home-template">
    <v-layout>
      <v-flex>
          <v-layout v-if="visibleDrawer">
            <v-flex>
              <v-card>
                <v-card-media src="/img/debbie-frith-564432-unsplash.jpg" height="256px"></v-card-media>
                <v-card-text>
                  <p>Meteor Mogul is a hobby project for learning Meteor, VueJS and Vuetify to create apps for friends and family.  I hope Meteor Mogul saves you some time and makes your coding explorations more exciting and fun! - <span style="font-style: italic">Fred</span></p>
                  <mm-quickstart></mm-quickstart>
                </v-card-text>
                <v-card-actions></v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
          <v-layout v-if="!visibleDrawer">
            <v-flex>
              <v-parallax
              src="/img/debbie-frith-564432-unsplash.jpg">
                <v-layout row wrap>
                  <v-flex style="background: rgba(0,0,0,0.40)"
                  class="text-xs-right" px-2>
                    <h1>Meteor Mogul</h1>
                    <h2>Alta release</h2>
                  </v-flex>
                </v-layout>
                <v-layout
                row wrap justify-center>
                  <v-flex>
                    <mm-quickstart></mm-quickstart>
                  </v-flex>
                </v-layout>
                <v-layout
                row wrap justify-center
                v-for="row in rows" :key="row.name">
                    <router-link
                    v-for="dest in row.row"
                    :key="dest.href"
                    :to="dest.href">
                      <v-tooltip bottom>
                        <v-btn round
                        :style="samecase"
                        slot="activator">{{ dest.title }}</v-btn>
                        <span>{{ dest.tooltip }}</span>
                      </v-tooltip>
                    </router-link>
                </v-layout>
                <v-layout row wrap justify-center>
                  <v-tooltip bottom>
                    <v-btn
                    href="https://github.com/meteor-mogul"
                    target="_blank" :style="samecase"
                    slot="activator"
                    round>GitHub</v-btn>
                    <span>Meteor Mogul code repos</span>
                  </v-tooltip>
                </v-layout>
              </v-parallax>
            </v-flex>
          </v-layout>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-menagerie-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Menagerie"></mm-content-heading>
          <v-card-text>
            <p>Menagerie text</span></p>
          </v-card-text>
          <v-card-actions>Home | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-observatory-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Observatory"></mm-content-heading>
          <v-card-text>
            <p>Observatory text</span></p>
          </v-card-text>
          <v-card-actions>Home | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-orientation-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Orientation"></mm-content-heading>
          <v-card-text v-html="marked(mdText)"></v-card-text>
          <v-card-actions><router-link to="/index.html">Home</router-link>
             | <router-link to="/survivalguide.html">Next</router-link></v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-survivalguide-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Survival Guide"></mm-content-heading>
          <v-card-text v-html="marked(mdText)"></v-card-text>
          <v-card-actions><router-link to="/index.html">Home</router-link>
             | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-content-toolkit-template">
    <v-layout>
      <v-flex>
        <v-card>
          <mm-content-heading content-title="Toolkit"></mm-content-heading>
          <v-card-text>
            <p>Toolkit text</span></p>
          </v-card-text>
          <v-card-actions>Home | Next</v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </script>
<script type="text/x-template" id="mm-menu-create-template">
    <v-menu open-on-hover bottom offset-y>
      <v-btn slot="activator" :style="samecase">Create</v-btn>
      <v-list>
        <v-subheader inset>GitHub Repos</v-subheader>
        <v-list-tile v-for="repo in repos" :key="repo.href">
          <v-list-tile-title><a :href="repo.href" target="_blank">{{ repo.title }}</a></v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </script>
<script type="text/x-template" id="mm-menu-learn-template">
    <v-menu open-on-hover bottom offset-y>
      <v-btn slot="activator" :style="samecase">Learn</v-btn>
      <v-list>
        <v-subheader inset>Documentation</v-subheader>
        <v-list-tile v-for="doc in docs" :key="doc.title">
          <v-list-tile-title><router-link :to="doc.href">{{ doc.title }}</router-link></v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </script>
<script type="text/x-template" id="mm-menu-play-template">
    <v-menu open-on-hover bottom offset-y>
      <v-btn slot="activator" :style="samecase">Play</v-btn>
      <v-list>
        <v-subheader inset>Heroku Demos</v-subheader>
        <v-list-tile v-for="demo in demos" :key="demo.href">
          <v-list-tile-title><a :href="demo.href" target="_blank">{{ demo.title }}</a></v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </script>
<script type="text/x-template" id="mm-content-template">
      <v-content app>
        <v-container>
          <v-layout row wrap>
            <v-flex>
              <router-link to="/index.html"><v-tooltip right>
                <v-icon large slot="activator">home</v-icon>
                <span>Return to Home Page</span>
              </v-tooltip></router-link>
              <!-- Use handlebars for displaying data. -->
              {{ breadcrumbs }}
              <!-- VueRouter will replace <router-view> based on route. -->
            </v-flex>
          </v-layout>
          <router-view></router-view>
        </v-container>
      </v-content>
  </script>
<script type="text/x-template" id="mm-footer-template">
    <v-footer app inset height="auto">
      <v-container fluid fill-height>
        <v-layout child-flex>
          <v-card flat fluid tile>
            <v-card-title class="primary white--text">
              <strong class="subheading">Code your own personal and demo apps with Meteor + VueJS + Material Design (Vuetify)</strong>
            </v-card-title>
            <v-card-text class="grey lighten-3 text-xs-center">
              <a href="https://meteor-mogul.github.io/"
                 target="_blank">About Meteor Mogul</a>
              &bull;
              <a>Donations&nbsp;Accepted!</a>
              &bull;
              <a>Help&nbsp;Wanted</a>
            </v-card-text>
            <v-card-actions class="grey lighten-2 justify-center">
              &copy;2018 - <strong>Meteor Mogul</strong>
            </v-card-actions>
          </v-card>
        </v-layout>
      </v-container>
    </v-footer>
  </script>
<script type="text/x-template" id="mm-navdrawer-template">
    <!-- Not using v-model here because different things need to happen based on
         whether we are getting or setting visibleDrawer.
         visibleDrawer is a reactive Session variable to make it easier to toggle
         display of navigation drawer from any component, such as the toolbar.
         The navigation drawer itself, however, can also toggle its state by
         receiving a true or false input.  The recordDrawer method captures that
         event and does a Session.set so that other components know the state
         of the navigation drawer.
       -->
    <v-navigation-drawer
    app
    clipped
    :value="visibleDrawer"
    @input="recordDrawer($event)"
    >
        <div style="font-size: 120%; font-weight: bold; background: #333333; color: white; text-align: right; padding-right: 4px;">Meteor Mogul</div>
        <div style="background: #333333; color: white; text-align: right; padding-right: 4px;">Alta release</div>
      <mm-quickstart></mm-quickstart>
      <v-list>
        <v-subheader inset>Documentation</v-subheader>
        <v-list-tile v-for="doc in docs" :key="doc.title">
          <v-list-tile-title><router-link :to="doc.href">{{ doc.title }}</router-link></v-list-tile-title>
        </v-list-tile>
        <v-subheader inset>Heroku Demos</v-subheader>
        <v-list-tile v-for="demo in demos" :key="demo.href">
          <v-list-tile-title><a :href="demo.href" target="_blank">{{ demo.title }}</a></v-list-tile-title>
        </v-list-tile>
        <v-subheader inset>GitHub Repos</v-subheader>
        <v-list-tile v-for="repo in repos" :key="repo.href">
          <v-list-tile-title><a :href="repo.href" target="_blank">{{ repo.title }}</a></v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </script>
<script type="text/x-template" id="mm-quickstart-template">
    <v-expansion-panel dark>
      <v-expansion-panel-content>
        <div slot="header">Quick Start <v-icon>directions_run</v-icon></div>
        <v-card>
          <v-card-text class="grey lighten-3 black--text">
            <ol>
              <li>Install <a href="https://git-scm.com/" target="_blank"><code>git</code></a> if necessary (on MacOS you probably already have it).</li>
              <li>Install <a href="https://www.meteor.com/" target="_blank"><code>meteor</code></a>.</li>
              <li>From a shell, clone and launch a Meteor Mogul app. For example:<br />
                <code>
$ git clone https://github.com/meteor-mogul/mogul-helloworld.git/
$ cd mogul-helloworld
$ meteor npm install
$ meteor
                </code></li>
            </ol>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </script>
<script type="text/x-template" id="mm-toolbar-template">
    <v-toolbar app dark color="primary">
      <v-tooltip bottom>
        <v-toolbar-side-icon
        @click="toggleDrawer()"
        slot="activator"
        ></v-toolbar-side-icon>
        <span>Show/hide navigation drawer</span>
      </v-tooltip>
      <v-toolbar-title>Welcome to Meteor Mogul!</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <mm-menu-learn></mm-menu-learn>
        <mm-menu-play></mm-menu-play>
        <mm-menu-create></mm-menu-create>
      </v-toolbar-items>
    </v-toolbar>
  </script>
<!-- Render target for Vue app.  Use id to identify. -->
  <div id="app"></div>

  <!-- Template for Vue component goes in <script> tag. -->
  <!-- Since we're using static-html package to parse .html files,
       this template will be processed by VueJS and not Blaze. -->
  <!-- Each template must have one wrapping tag. -->
  <!-- <mm-*> HTML tags are Vuetify components defined in ui folder. -->
  <!-- Wrap Vuetify app in a <v-app> tag. -->
  <script type="text/x-template" id="mm-app-template">
    <v-app id="mm-app">
      <mm-navdrawer></mm-navdrawer>
      <mm-toolbar></mm-toolbar>
      <mm-content></mm-content>
      <mm-footer></mm-footer>
    </v-app>
  </script>
  <script type="text/javascript">__meteor_runtime_config__ = JSON.parse(decodeURIComponent("%7B%22meteorRelease%22%3A%22METEOR%401.6.1%22%2C%22meteorEnv%22%3A%7B%22NODE_ENV%22%3A%22development%22%2C%22TEST_METADATA%22%3A%22%7B%7D%22%7D%2C%22PUBLIC_SETTINGS%22%3A%7B%7D%2C%22ROOT_URL%22%3A%22http%3A%2F%2Flocalhost%3A3000%2F%22%2C%22ROOT_URL_PATH_PREFIX%22%3A%22%22%2C%22appId%22%3A%22jcttvw15raqn.hk6of31xi3zl%22%2C%22autoupdateVersion%22%3A%2278a4db1377b10e449e01cdd48b60a36f79b4bafc%22%2C%22autoupdateVersionRefreshable%22%3A%224a74939f26fd606ec328f87d6a4cae0bc655de1e%22%2C%22autoupdateVersionCordova%22%3A%22none%22%7D"))</script>

  <script type="text/javascript" src="/packages/meteor.js"></script>
  <script type="text/javascript" src="/packages/meteor-base.js"></script>
  <script type="text/javascript" src="/packages/standard-minifiers.js"></script>
  <script type="text/javascript" src="/packages/modules-runtime.js"></script>
  <script type="text/javascript" src="/packages/modules.js"></script>
  <script type="text/javascript" src="/packages/babel-compiler.js"></script>
  <script type="text/javascript" src="/packages/ecmascript.js"></script>
  <script type="text/javascript" src="/packages/ecmascript-runtime.js"></script>
  <script type="text/javascript" src="/packages/promise.js"></script>
  <script type="text/javascript" src="/packages/babel-runtime.js"></script>
  <script type="text/javascript" src="/packages/url.js"></script>
  <script type="text/javascript" src="/packages/http.js"></script>
  <script type="text/javascript" src="/packages/dynamic-import.js"></script>
  <script type="text/javascript" src="/packages/ecmascript-runtime-client.js"></script>
  <script type="text/javascript" src="/packages/webapp.js"></script>
  <script type="text/javascript" src="/packages/server-render.js"></script>
  <script type="text/javascript" src="/packages/shim-common.js"></script>
  <script type="text/javascript" src="/packages/es5-shim.js"></script>
  <script type="text/javascript" src="/packages/static-html.js"></script>
  <script type="text/javascript" src="/packages/meteormogul_vue-dist.js"></script>
  <script type="text/javascript" src="/packages/meteormogul_vuetify-dist.js"></script>
  <script type="text/javascript" src="/packages/meteormogul_material-design-icons-fonts.js"></script>
  <script type="text/javascript" src="/packages/meteormogul_vue-router-dist.js"></script>
  <script type="text/javascript" src="/packages/underscore.js"></script>
  <script type="text/javascript" src="/packages/tracker.js"></script>
  <script type="text/javascript" src="/packages/base64.js"></script>
  <script type="text/javascript" src="/packages/ejson.js"></script>
  <script type="text/javascript" src="/packages/diff-sequence.js"></script>
  <script type="text/javascript" src="/packages/geojson-utils.js"></script>
  <script type="text/javascript" src="/packages/id-map.js"></script>
  <script type="text/javascript" src="/packages/random.js"></script>
  <script type="text/javascript" src="/packages/mongo-id.js"></script>
  <script type="text/javascript" src="/packages/ordered-dict.js"></script>
  <script type="text/javascript" src="/packages/minimongo.js"></script>
  <script type="text/javascript" src="/packages/check.js"></script>
  <script type="text/javascript" src="/packages/retry.js"></script>
  <script type="text/javascript" src="/packages/callback-hook.js"></script>
  
  <script type="text/javascript" src="/packages/reload.js"></script>
  <script type="text/javascript" src="/packages/socket-stream-client.js"></script>
  
  
  
  <script type="text/javascript" src="/packages/allow-deny.js"></script>
  <script type="text/javascript" src="/packages/mongo-dev-server.js"></script>
  <script type="text/javascript" src="/packages/mongo.js"></script>
  <script type="text/javascript" src="/packages/reactive-dict.js"></script>
  <script type="text/javascript" src="/packages/session.js"></script>
  <script type="text/javascript" src="/packages/markdown.js"></script>
  <script type="text/javascript" src="/packages/livedata.js"></script>
  <script type="text/javascript" src="/packages/hot-code-push.js"></script>
  <script type="text/javascript" src="/packages/standard-minifier-css.js"></script>
  <script type="text/javascript" src="/packages/standard-minifier-js.js"></script>
  <script type="text/javascript" src="/packages/autoupdate.js"></script>
  <script type="text/javascript" src="/app/global-imports.js"></script>
  <script type="text/javascript" src="/app/app.js"></script>


</body>
</html>
